# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
sonar-project.properties
sonar-scanner
.scannerwork/.sonar_lock
.scannerwork/report-task.txt
bin/sonar-scanner-debug.bat
bin/sonar-scanner.bat
sonar-scanner-6.1.0.4477-windows-x64/bin/sonar-scanner-debug.bat
sonar-scanner-6.1.0.4477-windows-x64/bin/sonar-scanner.bat
sonar-scanner-6.1.0.4477-windows-x64/conf/sonar-scanner.properties
sonar-scanner-6.1.0.4477-windows-x64/jre/NOTICE
sonar-scanner-6.1.0.4477-windows-x64/jre/release
sonar-scanner-6.1.0.4477-windows-x64/jre/bin/api-ms-win-core-console-l1-1-0.dll
sonar-scanner-6.1.0.4477-windows-x64/jre/bin/api-ms-win-core-console-l1-2-0.dll
sonar-scanner-6.1.0.4477-windows-x64/jre/bin/api-ms-win-core-datetime-l1-1-0.dll
sonar-scanner-6.1.0.4477-windows-x64/jre/bin/api-ms-win-core-debug-l1-1-0.dll
sonar-scanner-6.1.0.4477-windows-x64/jre/bin/api-ms-win-core-errorhandling-l1-1-0.dll
sonar-scanner-6.1.0.4477-windows-x64/jre/bin/api-ms-win-core-fibers-l1-1-0.dll
sonar-scanner-6.1.0.4477-windows-x64/jre/bin/api-ms-win-core-file-l1-1-0.dll
sonar-scanner-6.1.0.4477-windows-x64/jre/bin/api-ms-win-core-file-l1-2-0.dll
sonar-scanner-6.1.0.4477-windows-x64/jre/bin/api-ms-win-core-file-l2-1-0.dll
sonar-scanner-6.1.0.4477-windows-x64/jre/bin/api-ms-win-core-handle-l1-1-0.dll
sonar-scanner-6.1.0.4477-windows-x64/jre/bin/api-ms-win-core-heap-l1-1-0.dll
sonar-scanner-6.1.0.4477-windows-x64/jre/bin/api-ms-win-core-interlocked-l1-1-0.dll
sonar-scanner-6.1.0.4477-windows-x64/jre/bin/api-ms-win-core-libraryloader-l1-1-0.dll
sonar-scanner-6.1.0.4477-windows-x64/jre/bin/api-ms-win-core-localization-l1-2-0.dll
sonar-scanner-6.1.0.4477-windows-x64/jre/bin/api-ms-win-core-memory-l1-1-0.dll
sonar-scanner-6.1.0.4477-windows-x64/jre/bin/api-ms-win-core-namedpipe-l1-1-0.dll
sonar-scanner-6.1.0.4477-windows-x64/jre/bin/api-ms-win-core-processenvironment-l1-1-0.dll
sonar-scanner-6.1.0.4477-windows-x64/jre/bin/api-ms-win-core-processthreads-l1-1-0.dll
sonar-scanner-6.1.0.4477-windows-x64/jre/bin/api-ms-win-core-processthreads-l1-1-1.dll
sonar-scanner-6.1.0.4477-windows-x64/jre/bin/api-ms-win-core-profile-l1-1-0.dll
sonar-scanner-6.1.0.4477-windows-x64/jre/bin/api-ms-win-core-rtlsupport-l1-1-0.dll
sonar-scanner-6.1.0.4477-windows-x64/jre/bin/api-ms-win-core-string-l1-1-0.dll
sonar-scanner-6.1.0.4477-windows-x64/jre/bin/api-ms-win-core-synch-l1-1-0.dll
sonar-scanner-6.1.0.4477-windows-x64/jre/bin/api-ms-win-core-synch-l1-2-0.dll
sonar-scanner-6.1.0.4477-windows-x64/jre/bin/api-ms-win-core-sysinfo-l1-1-0.dll
sonar-scanner-6.1.0.4477-windows-x64/jre/bin/api-ms-win-core-timezone-l1-1-0.dll
sonar-scanner-6.1.0.4477-windows-x64/jre/bin/api-ms-win-core-util-l1-1-0.dll
sonar-scanner-6.1.0.4477-windows-x64/jre/bin/api-ms-win-crt-conio-l1-1-0.dll
sonar-scanner-6.1.0.4477-windows-x64/jre/bin/api-ms-win-crt-convert-l1-1-0.dll
sonar-scanner-6.1.0.4477-windows-x64/jre/bin/api-ms-win-crt-environment-l1-1-0.dll
sonar-scanner-6.1.0.4477-windows-x64/jre/bin/api-ms-win-crt-filesystem-l1-1-0.dll
sonar-scanner-6.1.0.4477-windows-x64/jre/bin/api-ms-win-crt-heap-l1-1-0.dll
sonar-scanner-6.1.0.4477-windows-x64/jre/bin/api-ms-win-crt-locale-l1-1-0.dll
sonar-scanner-6.1.0.4477-windows-x64/jre/bin/api-ms-win-crt-math-l1-1-0.dll
sonar-scanner-6.1.0.4477-windows-x64/jre/bin/api-ms-win-crt-multibyte-l1-1-0.dll
sonar-scanner-6.1.0.4477-windows-x64/jre/bin/api-ms-win-crt-private-l1-1-0.dll
sonar-scanner-6.1.0.4477-windows-x64/jre/bin/api-ms-win-crt-process-l1-1-0.dll
sonar-scanner-6.1.0.4477-windows-x64/jre/bin/api-ms-win-crt-runtime-l1-1-0.dll
sonar-scanner-6.1.0.4477-windows-x64/jre/bin/api-ms-win-crt-stdio-l1-1-0.dll
sonar-scanner-6.1.0.4477-windows-x64/jre/bin/api-ms-win-crt-string-l1-1-0.dll
sonar-scanner-6.1.0.4477-windows-x64/jre/bin/api-ms-win-crt-time-l1-1-0.dll
sonar-scanner-6.1.0.4477-windows-x64/jre/bin/api-ms-win-crt-utility-l1-1-0.dll
sonar-scanner-6.1.0.4477-windows-x64/jre/bin/awt.dll
sonar-scanner-6.1.0.4477-windows-x64/jre/bin/dt_socket.dll
sonar-scanner-6.1.0.4477-windows-x64/jre/bin/extnet.dll
sonar-scanner-6.1.0.4477-windows-x64/jre/bin/fontmanager.dll
sonar-scanner-6.1.0.4477-windows-x64/jre/bin/freetype.dll
sonar-scanner-6.1.0.4477-windows-x64/jre/bin/instrument.dll
sonar-scanner-6.1.0.4477-windows-x64/jre/bin/j2gss.dll
sonar-scanner-6.1.0.4477-windows-x64/jre/bin/j2pcsc.dll
sonar-scanner-6.1.0.4477-windows-x64/jre/bin/j2pkcs11.dll
sonar-scanner-6.1.0.4477-windows-x64/jre/bin/jaas.dll
sonar-scanner-6.1.0.4477-windows-x64/jre/bin/jabswitch.exe
sonar-scanner-6.1.0.4477-windows-x64/jre/bin/jaccessinspector.exe
sonar-scanner-6.1.0.4477-windows-x64/jre/bin/jaccesswalker.exe
sonar-scanner-6.1.0.4477-windows-x64/jre/bin/java.dll
sonar-scanner-6.1.0.4477-windows-x64/jre/bin/java.exe
sonar-scanner-6.1.0.4477-windows-x64/jre/bin/javaaccessbridge.dll
sonar-scanner-6.1.0.4477-windows-x64/jre/bin/javajpeg.dll
sonar-scanner-6.1.0.4477-windows-x64/jre/bin/javaw.exe
sonar-scanner-6.1.0.4477-windows-x64/jre/bin/jawt.dll
sonar-scanner-6.1.0.4477-windows-x64/jre/bin/jdwp.dll
sonar-scanner-6.1.0.4477-windows-x64/jre/bin/jfr.exe
sonar-scanner-6.1.0.4477-windows-x64/jre/bin/jimage.dll
sonar-scanner-6.1.0.4477-windows-x64/jre/bin/jli.dll
sonar-scanner-6.1.0.4477-windows-x64/jre/bin/jrunscript.exe
sonar-scanner-6.1.0.4477-windows-x64/jre/bin/jsound.dll
sonar-scanner-6.1.0.4477-windows-x64/jre/bin/jsvml.dll
sonar-scanner-6.1.0.4477-windows-x64/jre/bin/keytool.exe
sonar-scanner-6.1.0.4477-windows-x64/jre/bin/kinit.exe
sonar-scanner-6.1.0.4477-windows-x64/jre/bin/klist.exe
sonar-scanner-6.1.0.4477-windows-x64/jre/bin/ktab.exe
sonar-scanner-6.1.0.4477-windows-x64/jre/bin/lcms.dll
sonar-scanner-6.1.0.4477-windows-x64/jre/bin/management_agent.dll
sonar-scanner-6.1.0.4477-windows-x64/jre/bin/management_ext.dll
sonar-scanner-6.1.0.4477-windows-x64/jre/bin/management.dll
sonar-scanner-6.1.0.4477-windows-x64/jre/bin/mlib_image.dll
sonar-scanner-6.1.0.4477-windows-x64/jre/bin/msvcp140.dll
sonar-scanner-6.1.0.4477-windows-x64/jre/bin/net.dll
sonar-scanner-6.1.0.4477-windows-x64/jre/bin/nio.dll
sonar-scanner-6.1.0.4477-windows-x64/jre/bin/prefs.dll
sonar-scanner-6.1.0.4477-windows-x64/jre/bin/rmi.dll
sonar-scanner-6.1.0.4477-windows-x64/jre/bin/rmiregistry.exe
sonar-scanner-6.1.0.4477-windows-x64/jre/bin/splashscreen.dll
sonar-scanner-6.1.0.4477-windows-x64/jre/bin/sspi_bridge.dll
sonar-scanner-6.1.0.4477-windows-x64/jre/bin/sunmscapi.dll
sonar-scanner-6.1.0.4477-windows-x64/jre/bin/ucrtbase.dll
sonar-scanner-6.1.0.4477-windows-x64/jre/bin/vcruntime140_1.dll
sonar-scanner-6.1.0.4477-windows-x64/jre/bin/vcruntime140.dll
sonar-scanner-6.1.0.4477-windows-x64/jre/bin/verify.dll
sonar-scanner-6.1.0.4477-windows-x64/jre/bin/w2k_lsa_auth.dll
sonar-scanner-6.1.0.4477-windows-x64/jre/bin/windowsaccessbridge-64.dll
sonar-scanner-6.1.0.4477-windows-x64/jre/bin/WinFallbackLookup.dll
sonar-scanner-6.1.0.4477-windows-x64/jre/bin/zip.dll
sonar-scanner-6.1.0.4477-windows-x64/jre/bin/server/classes_nocoops.jsa
sonar-scanner-6.1.0.4477-windows-x64/jre/bin/server/classes.jsa
sonar-scanner-6.1.0.4477-windows-x64/jre/bin/server/jvm.dll
sonar-scanner-6.1.0.4477-windows-x64/jre/conf/logging.properties
sonar-scanner-6.1.0.4477-windows-x64/jre/conf/net.properties
sonar-scanner-6.1.0.4477-windows-x64/jre/conf/sound.properties
sonar-scanner-6.1.0.4477-windows-x64/jre/conf/management/jmxremote.access
sonar-scanner-6.1.0.4477-windows-x64/jre/conf/management/jmxremote.password.template
sonar-scanner-6.1.0.4477-windows-x64/jre/conf/management/management.properties
sonar-scanner-6.1.0.4477-windows-x64/jre/conf/security/java.policy
sonar-scanner-6.1.0.4477-windows-x64/jre/conf/security/java.security
sonar-scanner-6.1.0.4477-windows-x64/jre/conf/security/policy/README.txt
sonar-scanner-6.1.0.4477-windows-x64/jre/conf/security/policy/limited/default_local.policy
sonar-scanner-6.1.0.4477-windows-x64/jre/conf/security/policy/limited/default_US_export.policy
sonar-scanner-6.1.0.4477-windows-x64/jre/conf/security/policy/limited/exempt_local.policy
sonar-scanner-6.1.0.4477-windows-x64/jre/conf/security/policy/unlimited/default_local.policy
sonar-scanner-6.1.0.4477-windows-x64/jre/conf/security/policy/unlimited/default_US_export.policy
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/java.base/ADDITIONAL_LICENSE_INFO
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/java.base/aes.md
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/java.base/asm.md
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/java.base/ASSEMBLY_EXCEPTION
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/java.base/c-libutl.md
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/java.base/cldr.md
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/java.base/icu.md
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/java.base/LICENSE
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/java.base/public_suffix.md
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/java.base/unicode.md
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/java.base/wepoll.md
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/java.base/zlib.md
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/java.compiler/ADDITIONAL_LICENSE_INFO
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/java.compiler/ASSEMBLY_EXCEPTION
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/java.compiler/LICENSE
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/java.datatransfer/ADDITIONAL_LICENSE_INFO
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/java.datatransfer/ASSEMBLY_EXCEPTION
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/java.datatransfer/LICENSE
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/java.desktop/ADDITIONAL_LICENSE_INFO
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/java.desktop/ASSEMBLY_EXCEPTION
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/java.desktop/colorimaging.md
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/java.desktop/freetype.md
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/java.desktop/giflib.md
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/java.desktop/harfbuzz.md
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/java.desktop/jpeg.md
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/java.desktop/lcms.md
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/java.desktop/libpng.md
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/java.desktop/LICENSE
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/java.desktop/mesa3d.md
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/java.instrument/ADDITIONAL_LICENSE_INFO
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/java.instrument/ASSEMBLY_EXCEPTION
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/java.instrument/LICENSE
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/java.logging/ADDITIONAL_LICENSE_INFO
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/java.logging/ASSEMBLY_EXCEPTION
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/java.logging/LICENSE
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/java.management/ADDITIONAL_LICENSE_INFO
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/java.management/ASSEMBLY_EXCEPTION
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/java.management/LICENSE
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/java.management.rmi/ADDITIONAL_LICENSE_INFO
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/java.management.rmi/ASSEMBLY_EXCEPTION
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/java.management.rmi/LICENSE
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/java.naming/ADDITIONAL_LICENSE_INFO
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/java.naming/ASSEMBLY_EXCEPTION
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/java.naming/LICENSE
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/java.net.http/ADDITIONAL_LICENSE_INFO
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/java.net.http/ASSEMBLY_EXCEPTION
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/java.net.http/LICENSE
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/java.prefs/ADDITIONAL_LICENSE_INFO
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/java.prefs/ASSEMBLY_EXCEPTION
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/java.prefs/LICENSE
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/java.rmi/ADDITIONAL_LICENSE_INFO
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/java.rmi/ASSEMBLY_EXCEPTION
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/java.rmi/LICENSE
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/java.scripting/ADDITIONAL_LICENSE_INFO
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/java.scripting/ASSEMBLY_EXCEPTION
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/java.scripting/LICENSE
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/java.se/ADDITIONAL_LICENSE_INFO
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/java.se/ASSEMBLY_EXCEPTION
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/java.se/LICENSE
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/java.security.jgss/ADDITIONAL_LICENSE_INFO
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/java.security.jgss/ASSEMBLY_EXCEPTION
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/java.security.jgss/LICENSE
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/java.security.sasl/ADDITIONAL_LICENSE_INFO
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/java.security.sasl/ASSEMBLY_EXCEPTION
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/java.security.sasl/LICENSE
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/java.smartcardio/ADDITIONAL_LICENSE_INFO
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/java.smartcardio/ASSEMBLY_EXCEPTION
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/java.smartcardio/LICENSE
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/java.sql/ADDITIONAL_LICENSE_INFO
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/java.sql/ASSEMBLY_EXCEPTION
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/java.sql/LICENSE
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/java.sql.rowset/ADDITIONAL_LICENSE_INFO
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/java.sql.rowset/ASSEMBLY_EXCEPTION
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/java.sql.rowset/LICENSE
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/java.transaction.xa/ADDITIONAL_LICENSE_INFO
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/java.transaction.xa/ASSEMBLY_EXCEPTION
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/java.transaction.xa/LICENSE
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/java.xml/ADDITIONAL_LICENSE_INFO
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/java.xml/ASSEMBLY_EXCEPTION
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/java.xml/bcel.md
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/java.xml/dom.md
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/java.xml/jcup.md
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/java.xml/LICENSE
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/java.xml/xalan.md
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/java.xml/xerces.md
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/java.xml.crypto/ADDITIONAL_LICENSE_INFO
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/java.xml.crypto/ASSEMBLY_EXCEPTION
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/java.xml.crypto/LICENSE
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/java.xml.crypto/santuario.md
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/jdk.accessibility/ADDITIONAL_LICENSE_INFO
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/jdk.accessibility/ASSEMBLY_EXCEPTION
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/jdk.accessibility/LICENSE
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/jdk.charsets/ADDITIONAL_LICENSE_INFO
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/jdk.charsets/ASSEMBLY_EXCEPTION
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/jdk.charsets/LICENSE
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/jdk.crypto.cryptoki/ADDITIONAL_LICENSE_INFO
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/jdk.crypto.cryptoki/ASSEMBLY_EXCEPTION
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/jdk.crypto.cryptoki/LICENSE
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/jdk.crypto.cryptoki/pkcs11cryptotoken.md
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/jdk.crypto.cryptoki/pkcs11wrapper.md
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/jdk.crypto.ec/ADDITIONAL_LICENSE_INFO
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/jdk.crypto.ec/ASSEMBLY_EXCEPTION
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/jdk.crypto.ec/LICENSE
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/jdk.crypto.mscapi/ADDITIONAL_LICENSE_INFO
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/jdk.crypto.mscapi/ASSEMBLY_EXCEPTION
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/jdk.crypto.mscapi/LICENSE
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/jdk.dynalink/ADDITIONAL_LICENSE_INFO
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/jdk.dynalink/ASSEMBLY_EXCEPTION
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/jdk.dynalink/dynalink.md
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/jdk.dynalink/LICENSE
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/jdk.httpserver/ADDITIONAL_LICENSE_INFO
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/jdk.httpserver/ASSEMBLY_EXCEPTION
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/jdk.httpserver/LICENSE
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/jdk.incubator.foreign/ADDITIONAL_LICENSE_INFO
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/jdk.incubator.foreign/ASSEMBLY_EXCEPTION
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/jdk.incubator.foreign/LICENSE
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/jdk.incubator.vector/ADDITIONAL_LICENSE_INFO
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/jdk.incubator.vector/ASSEMBLY_EXCEPTION
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/jdk.incubator.vector/LICENSE
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/jdk.internal.vm.ci/ADDITIONAL_LICENSE_INFO
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/jdk.internal.vm.ci/ASSEMBLY_EXCEPTION
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/jdk.internal.vm.ci/LICENSE
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/jdk.internal.vm.compiler/ADDITIONAL_LICENSE_INFO
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/jdk.internal.vm.compiler/ASSEMBLY_EXCEPTION
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/jdk.internal.vm.compiler/LICENSE
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/jdk.internal.vm.compiler.management/ADDITIONAL_LICENSE_INFO
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/jdk.internal.vm.compiler.management/ASSEMBLY_EXCEPTION
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/jdk.internal.vm.compiler.management/LICENSE
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/jdk.jdwp.agent/ADDITIONAL_LICENSE_INFO
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/jdk.jdwp.agent/ASSEMBLY_EXCEPTION
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/jdk.jdwp.agent/LICENSE
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/jdk.jfr/ADDITIONAL_LICENSE_INFO
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/jdk.jfr/ASSEMBLY_EXCEPTION
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/jdk.jfr/LICENSE
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/jdk.jsobject/ADDITIONAL_LICENSE_INFO
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/jdk.jsobject/ASSEMBLY_EXCEPTION
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/jdk.jsobject/LICENSE
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/jdk.localedata/ADDITIONAL_LICENSE_INFO
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/jdk.localedata/ASSEMBLY_EXCEPTION
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/jdk.localedata/cldr.md
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/jdk.localedata/LICENSE
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/jdk.localedata/thaidict.md
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/jdk.management/ADDITIONAL_LICENSE_INFO
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/jdk.management/ASSEMBLY_EXCEPTION
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/jdk.management/LICENSE
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/jdk.management.agent/ADDITIONAL_LICENSE_INFO
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/jdk.management.agent/ASSEMBLY_EXCEPTION
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/jdk.management.agent/LICENSE
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/jdk.management.jfr/ADDITIONAL_LICENSE_INFO
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/jdk.management.jfr/ASSEMBLY_EXCEPTION
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/jdk.management.jfr/LICENSE
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/jdk.naming.dns/ADDITIONAL_LICENSE_INFO
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/jdk.naming.dns/ASSEMBLY_EXCEPTION
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/jdk.naming.dns/LICENSE
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/jdk.naming.rmi/ADDITIONAL_LICENSE_INFO
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/jdk.naming.rmi/ASSEMBLY_EXCEPTION
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/jdk.naming.rmi/LICENSE
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/jdk.net/ADDITIONAL_LICENSE_INFO
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/jdk.net/ASSEMBLY_EXCEPTION
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/jdk.net/LICENSE
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/jdk.nio.mapmode/ADDITIONAL_LICENSE_INFO
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/jdk.nio.mapmode/ASSEMBLY_EXCEPTION
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/jdk.nio.mapmode/LICENSE
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/jdk.sctp/ADDITIONAL_LICENSE_INFO
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/jdk.sctp/ASSEMBLY_EXCEPTION
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/jdk.sctp/LICENSE
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/jdk.security.auth/ADDITIONAL_LICENSE_INFO
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/jdk.security.auth/ASSEMBLY_EXCEPTION
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/jdk.security.auth/LICENSE
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/jdk.security.jgss/ADDITIONAL_LICENSE_INFO
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/jdk.security.jgss/ASSEMBLY_EXCEPTION
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/jdk.security.jgss/LICENSE
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/jdk.unsupported/ADDITIONAL_LICENSE_INFO
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/jdk.unsupported/ASSEMBLY_EXCEPTION
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/jdk.unsupported/LICENSE
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/jdk.xml.dom/ADDITIONAL_LICENSE_INFO
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/jdk.xml.dom/ASSEMBLY_EXCEPTION
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/jdk.xml.dom/LICENSE
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/jdk.zipfs/ADDITIONAL_LICENSE_INFO
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/jdk.zipfs/ASSEMBLY_EXCEPTION
sonar-scanner-6.1.0.4477-windows-x64/jre/legal/jdk.zipfs/LICENSE
sonar-scanner-6.1.0.4477-windows-x64/jre/lib/classlist
sonar-scanner-6.1.0.4477-windows-x64/jre/lib/fontconfig.bfc
sonar-scanner-6.1.0.4477-windows-x64/jre/lib/fontconfig.properties.src
sonar-scanner-6.1.0.4477-windows-x64/jre/lib/jawt.lib
sonar-scanner-6.1.0.4477-windows-x64/jre/lib/jrt-fs.jar
sonar-scanner-6.1.0.4477-windows-x64/jre/lib/jvm.cfg
sonar-scanner-6.1.0.4477-windows-x64/jre/lib/jvm.lib
sonar-scanner-6.1.0.4477-windows-x64/jre/lib/modules
sonar-scanner-6.1.0.4477-windows-x64/jre/lib/psfont.properties.ja
sonar-scanner-6.1.0.4477-windows-x64/jre/lib/psfontj2d.properties
sonar-scanner-6.1.0.4477-windows-x64/jre/lib/tzdb.dat
sonar-scanner-6.1.0.4477-windows-x64/jre/lib/tzmappings
sonar-scanner-6.1.0.4477-windows-x64/jre/lib/jfr/default.jfc
sonar-scanner-6.1.0.4477-windows-x64/jre/lib/jfr/profile.jfc
sonar-scanner-6.1.0.4477-windows-x64/jre/lib/security/blocked.certs
sonar-scanner-6.1.0.4477-windows-x64/jre/lib/security/cacerts
sonar-scanner-6.1.0.4477-windows-x64/jre/lib/security/default.policy
sonar-scanner-6.1.0.4477-windows-x64/jre/lib/security/public_suffix_list.dat
sonar-scanner-6.1.0.4477-windows-x64/lib/sonar-scanner-cli-6.1.0.4477.jar
sonar-project.properties
