.btn-create-post {
  display: block;
  margin: auto;
  margin-top: 20px;
}

section#create-post-section {
  padding-top: 100px;
}

form#form-createpost {
  width: 900px;
  /* margin: auto; */
  padding-left: 15px;
}

.form-upload-image {
  width: fit-content;
  margin: auto;
}

.form-other-post-data {
  display: flex;
  justify-content: space-between;
}

textarea#post-description {
  padding: 15px;
  border-radius: 10px;
}

form select {
  width: 150px;
  height: 50px;
  background-color: #d9d9d9;
}
