form:not(form.form-signup, form.form-signin, form.form-createpost) {
  width: 400px;
}

form {
  height: fit-content;
  margin: 0 auto;
  position: relative;
  margin-bottom: 20px;
}

form input,
form textarea,
form select {
  background-color: #d9d9d9;
  margin-bottom: 20px;
}

form input {
  width: 380px;
  height: 50px;
  border-radius: 40px;
  background-color: #d9d9d9;
  display: block;
}

form label {
  color: rgb(34, 34, 34);
  display: block;
}

/* .btn {
  box-sizing: border-box;
  width: 380px;
  display: block;
  margin: auto;
} */
