@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap");

.App,
.SignUp {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.left-banner {
  width: 50%;
  height: 100vh;
  background-image: url(assets/banner-signup-login.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

div.main-area {
  width: 50%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-area p {
  color: black;
}

::placeholder {
  font-size: medium;
  color: #9d9d9d;
}

.btn-login {
  background-color: black;
  color: white;
  padding: 5px;
}

.sign-up-link,
.log-in-link {
  text-decoration: underline;
}
