.registerAsSeller {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  border: 1px solid green;
}

.registerAsSeller section {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid aqua;
}
